body{
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
}
.page{
    width: 1000px;
    height: 1200px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 33px -4px black;
    overflow: hidden; 
    background-color:  #212b37;
    }
.head{
    width: 70%;
    height: 100px;
    float: right;
    background-color: #212b37;
}
.head h2{
    margin-left: 30px;
    font-size: 40px;
    color: #fff;
    
}
aside {
    float: left;
    width: 30%;
    height: 100%;
    margin-top: -20px;
    overflow: hidden;
}  
.box {
   width: 100%;
   background-color: transparent;
   overflow: hidden;
} 
.box-top{
   width: 100%;
   margin-bottom: 16px;
   background-color: transparent;
   overflow: hidden;
}

.title{
    width: 200px;
    height: 46px;
    padding-top: 7px;
    background-color: #212b37;
}
i {
   float: left;
   padding: 0 16px 0 26px;
   margin-top: 5px;
   font-size: 21px;
   color: #fff; 
}

h2 {
    float: left;
    padding: 3px 0 0 0;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #fff; 
}
.head h2{
    margin-top: 30px;
}
.box-bottom ul {
padding: 0;
margin: 0;
list-style-type: none;

}
.box-bottom ul li {
    padding:10px;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    margin-left:30px;
 }
.phone-icon {
    float: left;
    width: 60px;
    margin-left: 10px;
    font-size: 20px;
    color:  #fff;
}
.phone-num p {
    float: left;
    width: 60px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    color:  #fff;
}
.email-icon {
    float: left;
    width: 60px;
    margin-left: 10px;
    font-size: 20px;
    color:  #fff;
}
.email-mo {
    float: left;
    width: 60px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    padding:0px;
    color:  #fff;
}
.email-mo p{
    float: left;
    width: 60px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    padding:0px;
}
.adres-icon {
    float: left;
    width: 60px;
    margin-left: 10px;
    font-size: 20px;
    color:  #fff;
}
 .adres-mo {
    float: left;
    width: 60px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    padding:0px;
    color:  #fff;
}   
 .adres-mo p {
    float: left;
    width: 90px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 0px;
    padding:0px;
    margin-left:0px;
    text-align: start;
    color:  #fff;
}
.skill-list{
    list-style: none;
    color:  #fff;
}
progress{
    background-color: rgba(11, 122, 85, 0.534);
    height: 10px;
    width: 50%;
    align-content: space-around;
    margin: 5px 30px;
    border-radius: 20px;
}
article{
    float: right;
    width: 70%;
    background-color: #fff;
}
 .box-r {
    width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
    overflow: hidden;
    box-shadow: 0 0 33px -4px black;
}
.box-r-top{
    height: 50px;
    width: 40%;
    background-color: #212b37;
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.icon{
    float: left;
    padding: 0 16px 0 26px;
    margin-top: 5px;
    font-size: 21px;
    color: #fff; 
}
.title-r{
    width:200px;
    height: 40px;
    color: #eaebed;
    float: left;
    padding: 5px 10px;
    margin: 20px 20px 0px 0px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 23px;
}
.par1{
    text-align: start;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
} 
.box-r1 {
    width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
    box-shadow: 0 0 33px -4px black;
}
.box-r-top1{
    height: 50px;
    width: 40%;
    background-color: #212b37;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
    top:10px;
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.box-r2 {
    width: 100%;
    height: 490px;
    margin-bottom: 16px;
    background-color: transparent;
    box-shadow: 0 0 33px -4px black;
}
.box-r-top2{
    height: 50px;
    width: 40%;
    background-color: #212b37;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
    top:10px;
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.par2{
    text-align: start;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
    height: 300px;
} 

.org-title{
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
}
.org-place{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;

}
.date{
    font-size: 16px;
    font-weight: bolder;
}
.foto{
    margin-top:30px;
    margin-left: 10px;
}