*{
    padding: 0px;
  
}
body{
    
    font-family: "RO Sans",Calibri,sans-serif;
    font-weight: normal;
    line-height: 1.625;
    font-size: 100%;
    background-color: #f3f3f3;
    box-sizing: border-box;
    
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #01689b;
    color: #fff;
    min-height: 70px;
}

#navbar .home {
float: left;
width: 50%;
font-size: 1.3rem;
padding-left: 20px;
margin-left: 50px;
}


.mainnav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    right: 20px;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-right: 100px;
    
}
.mainnav ul li{
    padding: 10px;
  
}

#head{
   background-image:url(https://www.rijksoverheid.nl/binaries/widescreen/content/gallery/rijksoverheid/attentie-afbeeldingen/home/2019/strand-scheveningen.jpg);
    position: relative;
    min-height:350px;
    background-repeat:no-repeat;
    background-size:cover;
    border: 1px solid;
    
}
a:hover {
    text-decoration: underline;
    color: #01689b;
    
}
    
#navbar::before{
    content: "";
    display: table;
    clear: both;
}
.bekeken::before {
    content:" Veel Bekeken";
    display:table;
    font-size: 1.9rem;
    margin-left: 25px;
 }
.bekeken {
    width: 33%;
    background-color: #ffffff;
    margin: 40px;
    padding: 10px;
    max-height: 100%;
    padding: 0px;
  
}
   .bekeken ul{
    list-style: none;
    font-weight: bold;
    color: #01689b;
    font-size: 1.225rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.725rem;
    padding: 10px;
    margin: 20px;
   

}
.bekeken ul li::before{
    content: ">";
    clear: both;  
    margin-right: 5px;
    color: #767676;
}
.showcopyright{
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: #fff;
}
.zoek{
   width: 24%;
    position: absolute;
    right: 150px;
    bottom: -95px;
    z-index: 1;
}
input {
    height: 50px;
    width: 100%;
}
#main .head  {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
    max-width: 1200px;
    max-height: 100%;
}
.editorial li{
    max-width: 23.1%;
    margin: 0px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.editorial ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.editorial h3, .editorial p {
    margin: 0px;
}
.editorial li a{
    text-decoration: none;
}
.brickrow{
    display: flex;
}
.brickrow .brick a{
    text-decoration: none;
}
.brickrow .brick h2{
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: normal;
    margin: 0 0 10px 0;
}
.brickrow .brick p{
    margin-bottom: 10px;
    margin-top: 0px;
    color: #000;
    font-size: 1rem;
    line-height: 1.375rem;
}

.brickrow .brick-img{
    position: relative;
}
 .copyright{
    position: absolute;
    left: 10px;
    bottom: 12px;
 }
 .brick p.copyright {
	color: #fff;
}
.fullWidthSection .brickrow ul li{
    list-style: none;
    width: 33%;
    margin: 0px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.fullWidthSection .brickrow ul{
    display: flex;
}
.brick img {
    width: 100%;
    margin: 5px 0 15px 0;
}
.brick p {
    color: #000;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;}
.nieuws1 li{
    width: 30%;
    margin: 0px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.nieuws1 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nieuws1 li a{
    text-decoration: none;
}
#aside{
    display: flex;
    flex-wrap: wrap;
}
.brickbanner{
    width: 208px;
    height: 122px;
    border: solid;
    margin: 10px;
}
.payoff ::before{
    content: "";
    display: block;
}
#footer{
    color: #fff;
}
#footer  .colum {
    float: left;
    width: 16.66667%;
    color: #fff;
}
#footer .colum ul{
	min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    text-align: left;
}
#footer {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    background-color: #01689b;
}
.payoff{
    padding: 18px 20px;
    font-size: 1.57em;
}
 .lang ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   justify-content: center;
 }
 .lang ul li{
    padding: 20px;
}
.lang  ul li a{
    padding: 10px;
    border: 1px solid;
    text-decoration: none;
}
.lang {
    background-color: #fff;
}
div:first-child.payoff {
    margin-left: 0;
    float: left;
    width: 58%;
    font-family: "RO Serif";
    font-style: italic;
    font-weight: normal;
    line-height: 1.2381;
}
@media only screen and (min-width : 480px) and (max-width : 767px) {
     .bekeken {
        width: 96%;
       
        background-color: #ffffff;
        margin: 24px;
        padding: 10px;
        height: 234px;
        padding: 0px;
}
#head{
    min-height: 300px;
}
#navbar{
    height: 110px;;
}
.bekeken ul {
    line-height: 35px;
    max-height: 100%;
}
.editorial li{
    max-width:  56.1%;
}
.editorial ul{
    background-color: #f3f3f3;
}
.brickRow .spotLight {
   flex-wrap: wrap;
   flex-direction: row;
   display: flex;
}
.nieuws1 li{
    width: 46%;
}
#footer.payoff{
    width: 78%;
    display: block;
}
.colum{
    display: block;
}
}